// IBMPlexSansArabic
@font-face {
  font-family: IBMPlexSansArabicThin;
  src: url('@/assets/fonts/IBMPlexSansArabic/IBMPlexSansArabic-Thin.ttf');
}
@font-face {
  font-family: IBMPlexSansArabicExtraLight;
  src: url('@/assets/fonts/IBMPlexSansArabic/IBMPlexSansArabic-ExtraLight.ttf');
}
@font-face {
  font-family: IBMPlexSansArabicLight;
  src: url('@/assets/fonts/IBMPlexSansArabic/IBMPlexSansArabic-Light.ttf');
}
@font-face {
  font-family: IBMPlexSansArabicRegular;
  src: url('@/assets/fonts/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf');
}
// Montserrat
@font-face {
  font-family: MontserratRegular;
  src: url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
// JuliusSansOne
@font-face {
  font-family: JuliusSansOne;
  src: url('@/assets/fonts/JuliusSansOne/JuliusSansOne-Regular.ttf');
}
// IranYekan
@font-face {
  font-family: IranYekanRegular;
  src: url('@/assets/fonts/IranYekan/IranYekanRegular.ttf');
}
